html 
    head 
        meta(charset='utf-8') 
        script(type="text/javascript" src="Modules/DB/DB_sql_template.js")
    body 
        form(action='/gatewayLog' method='post' )
            p 
                h6 Gateway ID
                input(type='text' name='gId') 
            p 
                h6 습도
                input(type='text' name='Humidity') 
            p 
                h6 온도
                input(type='text' name='Temperature') 
            p 
                -var date = new Date();
                
                input(type='hidden' name='date' value=date.toString())
                input(type='submit' value='정보 보내기')
        <button @click="select" class="">sdf</button>
        <button @click="al" class="">a</button>
